{% extends '../../backoffice_base.html' %}

<!-- -->
{% block title %}Order Type Detail{% endblock title %}

<!-- -->
{% block content %}
<h3>Order Type: {{ object.name }}</h3>
<br />
<div class="card">
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}
      <!-- Form -->
      {{ form }}
      <br />
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.description|truncatechars:80 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
