<table hx-trigger="update_table" hx-get="{% url 'hx_kyc_table' object.id %}" class="table table-bordered table-sm">
  <thead class="thead-dark">
    <tr>
      <td>Document Name</td>
      <td>Number</td>
      <td>File</td>
      <td>Approved</td>
      <td>Remarks</td>
      <td>Created On</td>
      <td>Updated On</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% for doc in object.userkycdocuments.all %}
    <tr>
      <td>{{ doc.document_name.name }}</td>
      <td>{{ doc.number }}</td>
      <td><a href="{{ doc.document.url }}" class="btn btn-sm btn-success" download>Download</a> </td>
      <td>
        {% if doc.is_approved %}
          ✅
        {% endif %}
          ❌
        {{ doc.approved  }}
      </td>
      <td>{{ doc.remarks }}</td>
      <td>{{ doc.created_on }}</td>
      <td>{{ doc.updated_on }}</td>
    </tr>
    {% empty %}
    <tr>
      <td>No Documents Uploaded Yet!</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
