body {
  font-family: Georgia, serif;
  font-size: 1.2rem;
}

.heading {
  color: #fff;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1%;
  margin-bottom: 0;
  background: #8dc640;
  font-size: 19px;
}

.click {
  color: #fff;
  background: #222;
  padding: 6px;
  border-radius: 2px;
}

.click:hover {
  color: #fff;
  text-decoration: none;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
}

#services a {
  color: #8dc640;
}

hr {
  border-color: #8dc640;
}

header.masthead p {
  font-size: 1.3rem;
}

.text-primary,
.linkColor a {
  color: #689927 !important;
}

.bg-primary,
.btn-primary {
  background-color: #60921d !important;
  border-color: #8dc640;
}

.btn-primary:hover {
  background-color: #d3a634 !important;
}

.btn-primary:focus {
  border-color: #8dc640 !important;
  box-shadow: 0 0 0 0.2rem #8dc640 !important;
  background-color: #8dc640 !important;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
  color: #8dc640 !important;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #8dc640 !important;
}

.advisor {
  font-size: 3.4rem !important;
}

.anand {
  display: table;
  margin: 0 auto;
  text-align: left;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 2;
}

.associate {
  color: #fff;
}

.contact-form .form-control {
  border-radius: 1rem;
}

.contact-form .form-control:focus {
  border-color: #8dc640;
  box-shadow: 0 0 0 0.08rem #006639;
}

.contact-form .submit {
  margin-left: 10%;
}

.bg-rathi {
  background-color: #3a6435;
}

.bg-rathi h2,
.bg-rathi h3 {
  color: #e3e9dc;
}

ul.anand {
  list-style: none;
}

ul.anand li::before {
  content: "\2022";
  color: #f7d246;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media (max-width: 375px) {
  .heading {
    font-size: 18px;
    padding-top: 18%;
    padding-bottom: 4%;
  }

  img.logo {
    width: 220px;
  }

  header.masthead p {
    font-size: 1.2rem;
  }

  .anand {
    display: block;
    margin: 0;
  }

  .advisor {
    font-size: 2.5rem !important;
  }

  .anand-services {
    margin-top: 11%;
  }

  .linkColor p {
    font-size: 1.1rem;
  }

  .fa-3x {
    font-size: 2.5em;
  }

  .linkColor .m-top {
    margin-top: 2rem;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .heading {
    font-size: 18px;
    padding-top: 15%;
    padding-bottom: 2%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .heading {
    font-size: 18px;
    padding-top: 10%;
    padding-bottom: 2%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .heading {
    padding-top: 8%;
    padding-bottom: 2%;
  }
}
